/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-04-2015, 03:11:32 PM
    Author     : ulises
*/




body{
    background: #ffffff;
    color: #ffffff;
    
}

h1{
    padding: 15px;
}

h2{

    color: #ffffff;
    font-family: sans-serif;
    font-size: 19px;
    text-align: center;
    
}



#header{
    float: top;
    background: #000033;
    border: 2px solid #000033;
}



#login{
    border-radius: 3px;
    margin: 50px auto;
    width: 250px;
    background: #000033;
    
}

#aduser{
    border-radius: 10px;
    background: #000033;
    width: 300px;
    margin: 50px auto;
    
}



form fieldset{
    border: 2px solid #000033;
    border-radius: 10px;
    
}

form fieldset a:hover{ text-decoration: underline;}
.btn-round{
    background-color: #ffffff;
    
    
}

#links{
    
   border-radius: 5px;
   background: #000033;
   margin: 20px auto;
   padding: 5px;
   spacing: 5px; 
   width: 32em;
   text-align: center;    
}

a{
    
    color: #33AACC;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    
}

table,th,td{
    
    background:white;
    border:1px solid black;
    color: #000033; 
        
    
}

table{
    border-collapse: collapse;
    font-family: monospace;
    
}

th{
    color: white;
    background:grey;
    font-family: sans-serif;
    
}

input[type=text]{
    border:  1px solid;
    border-radius: 3px;
    font-size: 70%;
    width: 130px;
}

input[type=password]{
    border: 1px solid;
    border-radius: 3px;
    font-size: 70%;
    width: 130px;
}


#form{
    float: top;
    background: #000033;
    padding: 0.5em;
}

label{
    font-family: sans-serif;
    font-size: 12px;
    color: #ffffff;
    
}

#footer{
    background: #000033;
}

h3{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 13em;
    }